@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Caveat', sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 95%;
    margin: 0 auto;

}
/*  typography */

h1 {

    font-weight: 300;
    font-size: 2.5rem;
}

.title {
    font-size: 2.5em;


}

.title span {
    font-weight: 300;
    display: block;
    font-size: .9em;
}

@media (min-width: 60rem) {
    .title {
        font-size: 3.75rem;
    }
}

/* buttons */

.button {
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
}

.button-accent{
    color: aqua;
}

.button-accent:hover,
.button-accent:focus {
    background-color: aqua;
    color: blueviolet;
}

@media (min-width: 60rem) {
    .button {
        font-size: 1.5rem;
    }
}

/*  Header */
header {

    position: absolute;
    margin: 1em;
    left: 0;
    right: 0;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
    padding: .5em;
    color: white;
    
}

nav a :hover,
nav a :focus {
    color: #DDD;
}

@media (min-width: 60rem) {
    nav {
        float: right;
    }

}

.home-hero {
    background-image: url(img/los-angeles-1768743_1280.jpg);
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    color: white;
}

/*
@media (min-width: 60rem) {
    .home-hero {
        height: 100vh;
        padding-top: 35vh;
    }
}
*/

/* hero-home */

.home-about-textbox {
    background-color: #232323;
    padding: 3em;
    width: 100vw;
    margin-left: -2.5%;
}