@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Caveat', sans-serif;
    text-align: center;
}

/* */
header {

    position: absolute;
    margin-top: 1em;
}